.footer {
    .content {
        display: flex;
        justify-content: space-around;
        width: 95%;

        .ra-footer-header {
            color: $primary !important;
            text-decoration: underline;
        }

        img {
        height: 30px;
        }
    }
}