@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Tinos&display=swap');

$ra-fontfamily-sans: 'Inter', sans-serif;
$ra-fontfamily-serif: 'Tinos', serif;

$ra-fontsize-title: 38px;