.backoffice {
    padding-top: $navbar-height;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;

    .container {
        padding-top: 1em;
        padding-bottom: 1em;
    
        .columns {
            padding-top: inherit;
            padding-bottom: inherit;

            h4,
            h5 {
                color: $grey-light;
            }

            h5 {
                margin-top: 3em;
            }

            // .column.is-3-desktop > .box {
            //     // position: fixed;
            //     width: 340px;
            // }
        }
    }
}

@include tablet {
    .backoffice {
        background-size: 100% auto;
        background-position: 0% 0%;
    }
}