@import "../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css";

.owl-carousel {
  overflow-x: hidden;

  .item {
    position: relative;
    padding-top: 100%;
    overflow-y: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .owl-stage {
    display: flex;
  }
}

// setas
.owl-theme {
	.owl-nav {
		[class*='owl-'] {
			color: $white-bis !important;
			font-size: 42px !important;
			margin: 0 15px !important;
			background: transparent !important;

			&:focus {
				outline-color: $primary !important;
			}
		}
	}
}