.ra-draggable-artboard {
    height: 400px;
    border: 1px solid $grey-light;

    .draggable {
        touch-action: none;
        user-select: none;
        border-radius: 50%;
        padding: 5px;
        position: absolute;
        padding: 40px 20px;
    }
}