.ra-draggable-artboard {
    height: 400px;
    border: 1px solid $grey-light;

    .ra-draggable {
        touch-action: none;
        user-select: none;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        margin: 0 auto;
    }

    .ra-selected {
        background-color: #ffff00 !important;
    }
}