.footer {
    .content {
        display: flex;
        flex-direction: column;

        p.is-primary {
            margin: 0;
        }

        hr {
            margin-top: 1em;
        }

        .ra-footer-item:not(:first-child):not(:last-child) {
            margin: 4em 0;
        }

        img {
            height: 20px;
            align-self: flex-start;
            object-fit: contain;
        }

        .ra-esht {
            line-height: 1;
            margin-top: 2em;
        }
    }
}

@include tablet {
    .footer {
        .content {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
            width: 95%;

            .ra-footer-item:not(:first-child):not(:last-child) {
                margin: 0;
            }
    
            img {
                order: -1;
                height: 30px;
            }
        }
    }
}