.home {
    padding-top: $navbar-height;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;

    .hero {
        background-image: url("../assets/stil-u2Lp8tXIcjw-unsplash2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .container {
        padding-top: 2em;
        padding-bottom: 4em;
    
        .columns {
            padding-top: inherit;
            padding-bottom: inherit;

            .ra-dish-desc {
                line-height: 1.8;
            }
            
            .ra-dish-image-mobile {
                object-fit: cover;
                object-position: center center;
                margin: 10% 0 0 0;
            }
            
            .ra-weekday-wrapper {
                display: flex;
                justify-content: space-around;
                align-items: flex-end;
                padding-top: 4em;
            
                .button {
                    border-color: $black-ter;
                    width: 40px;
                    height: 40px;
                }
            }
    
            form {
                textarea::placeholder {
                    color: hsl(0, 0%, 48%);
                }
                
                .button[type="submit"] {
                    &:focus {
                        border-color: $primary;
                    }
                }
            }
        }
    }
}

@include tablet {
    .home {
        background-size: 100% auto;
        background-position: 0% 0%;
    }

    .column.is-4:first-child:nth-child(-n + 2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ra-dish-desc {
        width: 90%;
    }

    .ra-dish-image {
        object-fit: cover;
        object-position: center center;
        margin: 0 0 0 10%;
    }

    .ra-weekday-wrapper {
        width: 90%;
    }
}