.home {
    padding-top: $navbar-height;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;

    .hero {
        background-image: url("../assets/stil-u2Lp8tXIcjw-unsplash2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .container {
        padding-top: 2em;
        padding-bottom: 4em;
    
        .columns {
            padding-top: inherit;
            padding-bottom: inherit;
        }
    
        textarea::placeholder {
            color: hsl(0, 0%, 48%);
        }
        
        .ra-dish-desc {
            line-height: 1.8;
            width: 90%;
        }
        
        .ra-dish-image {
            height: 100%;
            object-fit: cover;
            object-position: center center;
            padding-left: 10%;
        }
        
        .ra-weekday-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            width: 90%;
            padding-top: 4em;
        
            .button {
                border-color: $black-ter;
                width: 40px;
                height: 40px;
            }
        }
    }
}