.login{
	padding-top: $navbar-height;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
}
body{
	margin: 0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}


.login-html{
    width:100%;
    height:100%;
	margin: auto;
	margin-bottom: 100px;
	margin-top: 50px;
	max-width:525px;
	min-height:670px;
	position: relative;
	padding:90px 70px 50px 70px;
    background-image:url("../assets/food2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0, 0, 0, 0.425);
}

.login-html .label{
	cursor: pointer;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
	
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
	
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
	cursor: pointer;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:hsl(74, 50%, 54%);
	cursor: pointer;
}

.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:hsl(74, 50%, 54%);
	margin-top: 60px;
	font-family: Arial;
	&:hover{
		background: hsl(0, 0%, 99%);
		color: hsl(74, 50%, 54%);
	}
}

.login-form .group .button .label{
	background:hsl(74, 50%, 54%);
	margin-top: 60px;
	font-family: 'Open Sans',sans-serif;
	
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
	color:hsl(74, 50%, 54%);
}
a{
    color:hsl(74, 50%, 54%);
}