// importar fonts
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');

// substituir as variaveis predefenidas da Bulma
$family-primary: 'Inter', sans-serif;
$family-secondary: 'Cardo', serif;
$primary: hsl(74, 50%, 54%);
$navbar-height: 4rem;
$footer-background-color: hsl(0, 0%, 21%);

// importar Bulma
@import "~bulma/bulma.sass";