.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    .ra-brand {
        &:hover {
            color: hsl(0, 0%, 96%);
        }
    }
}

.navbar-item.has-dropdown:hover {
    .icon {
        color: $navbar-item-hover-color;
    }
}