.ra-brand {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 24px;

    &:hover {
        color: hsl(0, 0%, 96%);
    }
}

.ra-username {
    margin-left: 1em;
}

.navbar-item.has-dropdown {
    &:hover {
        .icon {
            color: $navbar-item-hover-color;
        }
    }
}

@include tablet {
    .ra-brand {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        margin-left: 0;
    }
}