.profile {
    padding-top: $navbar-height;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;

    .container {
        padding-top: 2em;
        padding-bottom: 4em;
    
        .columns {
            padding-top: inherit;
            padding-bottom: inherit;

            h4 {
                margin: 1em 0 2em 0.5em;
            }
            
            .box {
                height: 600px;
            }
        }
    }
}

@include tablet {
    .profile {
        background-size: 100% auto;
        background-position: 0% 0%;
    }
}