@mixin svg-color($color, $colorDarker) {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 512 512' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg%3E%3Cpath d='M88.301,194.199l-61.801,0l0,132.403l61.801,0' style='fill:%23#{$colorDarker};fill-rule:nonzero;'/%3E%3Cpath d='M194.199,414.898l0,79.403l132.403,0l0,-79.403' style='fill:%23#{$colorDarker};fill-rule:nonzero;'/%3E%3Cpath d='M317.801,97.102l0,-79.403l-132.403,0l0,79.403' style='fill:%23#{$colorDarker};fill-rule:nonzero;'/%3E%3C/g%3E%3Cpath d='M17.699,172.102c9.801,0 17.699,7.898 17.699,17.699l0,141.199c0,9.801 -7.898,17.699 -17.699,17.699c-9.801,0 -17.699,-7.898 -17.699,-17.699l0,-141.199c0,-9.801 7.898,-17.699 17.699,-17.699Z' style='fill:%23#{$color};fill-rule:nonzero;'/%3E%3Cpath d='M172.102,494.301c0,-9.801 7.898,-17.699 17.699,-17.699l141.199,0c9.801,0 17.699,7.898 17.699,17.699c0,9.801 -7.898,17.699 -17.699,17.699l-141.199,0c-9.801,0 -17.699,-7.898 -17.699,-17.699Z' style='fill:%23#{$color};fill-rule:nonzero;'/%3E%3Cpath d='M423.699,326.602l61.801,0l0,-132.403l-61.801,0' style='fill:%23#{$colorDarker};fill-rule:nonzero;'/%3E%3Cpath d='M494.301,348.699c-9.801,0 -17.699,-7.898 -17.699,-17.699l0,-141.199c0,-9.801 7.898,-17.699 17.699,-17.699c9.801,0 17.699,7.898 17.699,17.699l0,141.199c0,9.801 -7.898,17.699 -17.699,17.699Z' style='fill:%23#{$color};fill-rule:nonzero;'/%3E%3Cpath d='M339.898,17.699c0,9.801 -7.898,17.699 -17.699,17.699l-141.199,0c-9.801,0 -17.699,-7.898 -17.699,-17.699c0,-9.801 7.898,-17.699 17.699,-17.699l141.199,0c9.801,0 17.699,7.898 17.699,17.699Z' style='fill:%23#{$color};fill-rule:nonzero;'/%3E%3Cpath d='M97.102,79.398l317.796,0c9.801,0 17.704,7.903 17.704,17.704l0,317.796c0,9.801 -7.903,17.704 -17.704,17.704l-317.796,0c-9.801,0 -17.704,-7.903 -17.704,-17.704l0,-317.796c0,-9.704 8,-17.704 17.704,-17.704Z' style='fill:%23cb8252;fill-rule:nonzero;'/%3E%3Cpath d='M114.801,132.398c-4.903,0 -8.801,-4 -8.801,-8.796l0,-8.801c0,-4.903 4,-8.801 8.801,-8.801c4.801,0 8.801,4 8.801,8.801l0,8.801c0,4.898 -4,8.796 -8.801,8.796Z' style='fill:%23804537;fill-rule:nonzero;'/%3E%3Cpath d='M114.801,282.5c-4.903,0 -8.801,-4 -8.801,-8.801l0,-114.801c0,-4.898 4,-8.796 8.801,-8.796c4.801,0 8.801,4 8.801,8.796l0,114.801c0,4.801 -4,8.801 -8.801,8.801Z' style='fill:%23804537;fill-rule:nonzero;'/%3E%3C/svg%3E");
}

.ra-interactables-screen {
    height: 400px;
    border: 2px solid $grey-light;

    .ra-interactable {
        @include svg-color("157A38", "0D4E24"); // '#' é um caracter especial em URL. Substituir pelo equivalente '%23'
        touch-action: none;
        user-select: none;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        margin: 0 auto;
        color: #804537;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 90% 90%;
        background-position: center;
    }

    .ra-table-filled {
        @include svg-color("F0C000", "BD9700");
    }

    .ra-table-full {
        @include svg-color("D1002A", "9E0020");
    }
}

.ra-interactables-toolbar {
    padding: 10px 20px;

    p {
        display: inline-block;
        padding: 8px 0;
        margin-right: 1em;
    }
}

.ra-toolbar-button {
    background: transparent;
    border: none;
    color: $grey;

    &:hover,
    &:focus {
        color: $grey-darker;
    }
}

.ra-plus {
    @extend .ra-toolbar-button;
    color: $green;

    &:hover,
    &:focus,
    &:active {
        color: darken($green, 10%);
    }
}

.ra-minus {
    @extend .ra-toolbar-button;
    color: $red;

    &:hover,
    &:focus,
    &:active {
        color: darken($red, 10%);
    }
}