@mixin available-color($color) {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 512 512' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cpath d='M256,0c-141.163,0 -256,114.837 -256,256c0,141.163 114.837,256 256,256c141.163,0 256,-114.837 256,-256c0,-141.163 -114.837,-256 -256,-256Z' style='fill:#{$color};fill-rule:nonzero;'/%3E%3C/svg%3E");
}

.table-container {
    overflow-x: scroll;
    margin-left: -20px;
    min-width: calc(100% + 40px);

    .ra-striped {
        background-color: darken($grey-darker, 5%);

        &:hover {
            background-color: $table-row-hover-background-color;
        }
    }

    th,
    .first-row {
        white-space: nowrap;
        vertical-align: middle;

        .ra-available-indicator {
            @include available-color("%23" + "FFDD57");
            width: 12px;
            height: 12px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }

        .ra-available-green {
            @include available-color("%23" + "23D160");
        }

        img {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center center;
        }

        td:last-child {
            border-left: 1px solid $grey-lighter;
        }
    }
}